doctype  html 
html
  head
    title Dance Style Academy
    block scripts

    block style
     style
      include ../static/style.css
      include ../static/phone.css
  body
    block content
    
    block foot
      <footer id="footer">
        <p>Copyright &#169 2023 Happy Dance Academy | All right reserved</p>
    </footer>