
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     style
      include  style2.css
</head>

<body>
    <div class="thumb">
        <h3>What's up?</h3>
    </div>
    <br>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, earum! Laudantium, delectus iure
            doloribus amenobis voluptas. Consequatur facere error non? In, excepturi quibusdam. Repellat dicta quisquam
            impedit rerum harum.m
    </section>
    <br>
    <section>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, earum! Laudantium, delectus iure
            doloribus amenobis voluptas. Consequatur facere error non? In, excepturi quibusdam. Repellat dicta quisquam
            impedit rerum harum.m
    </section>
    <br>
    <div class="circle"></div>

    <button class="btn">Touct to SASS</button>
    <div class="sass"><p>SASSY</p></div>
</body>

</html>